<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Minimalist UI for Small projects</title>
        <link rel = "stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="sideNav">
            <div class="logoPlaceHolder">
                LOGO HERE
            </div>
            <div class="navBarContents">
                <div class="navBarItems">
                    <ul>
                        <li>
                            test1
                        </li>
                        <li>
                            test2
                        </li>
                        <li>
                            test3
                        </li>
                        <li>
                            test4
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class = "contentBlob">
            <div class="projBanner">
                <h3>proj title</h3>
                <p>This project lorem</p>
            </div>
            <div class="row">
                <div class="rowBlocks">
                    <div class="rowHeader">
                        Scoping
                    </div>
                    <form class ='' action="/" method="post">
                        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                        <button type="submit" name="button">+</button>
                        <!-- //     document.querySelector('.myForm').addEventListener('submit', function(evt) {
                        //         // let projTask = [];
                        //         // projTask.state = evt.target.parentElement.parentElement.querySelector('.rowHeader').textContent.trim();
                        //         console.log(evt.target.parentElement.parentElement.querySelector('.rowHeader'));
                        //         }); -->
                    </form>
                    <div class="list">
                        <% for (let i =0;i<listItem.length;i++){ %>
                            <div class="item" draggable="true">
                                <p> <%=listItem[i]%></p>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="rowBlocks">
                    <div class="rowHeader">
                        Work in Progress
                    </div>
                    <div class = "list">
                        <% for (let i =0;i<wipList.length;i++){ %>
                            <div class="item" draggable="true">
                                <p> <%=wipList[i]%></p>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="rowBlocks">
                    <div class="rowHeader">
                        Completed
                    </div>
                    <div class = "list">
                        <% for (let i =0;i<completedList.length;i++){ %>
                            <div class="item" draggable="true">
                                <p> <%=completedList[i]%></p>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    <script src="http://127.0.0.1:3000/dragDrop.js"></script>
    </body>
    </html>