<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Minimalist UI for Small projects</title>
        <link rel = "stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="sideNav">
            <div class="logoPlaceHolder">
                LOGO HERE
            </div>
            <div class="navBarContents">
                <div class="navBarItems">
                    <ul>
                        <li>
                            test1
                        </li>
                        <li>
                            test2
                        </li>
                        <li>
                            test3
                        </li>
                        <li>
                            test4
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class = "contentBlob">
            <div class="projBanner">
                <!-- <h1>Today is <%= dayz%></h1> -->
                <h3>proj title</h3>
                <p>This project lorem</p>
            </div>
            <div class="row">
                <div class="rowBlocks">
                    <div class="rowHeader">
                        Scoping
                    </div>
                    <div class="list">
                        <div class="item" draggable="true">do something long ass text to test</div>
                        <div class="item" draggable="true">do something long ass text to test2</div>
                    </div>
                    <form class ='' action="/" method="post">
                        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                        <button type="submit" name="button">+</button>
                    </form>
                </div>
                <div class="rowBlocks">
                    <div class="rowHeader">
                        Work in Progress
                    </div>
                    <div class = "list">

                    </div>
                </div>
                <div class="rowBlocks">
                    <div class="rowHeader">
                        Completed
                    </div>
                    <div class = "list">

                    </div>
                </div>
            </div>
        </div>
    <script src="http://127.0.0.1:3000/main.js"></script>
    </body>
    </html>